body {
  background: green;
  height: 300px;
}

.container-wrapper body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container-wrapper {
  width: 400px;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  padding: 30px 30px 30px;
}

.container-wrapper h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0;
}

.container-wrapper .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content .column {
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 10px;
  width: calc(100% / 3 - 5px);
}

.column select {
  outline: none;
  border: none;
  height: 50px;
  width: 100px;
  font-size: 19px;
}

.container-wrapper .button {
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  background-color: green;
  padding: 17px 0;
  border-radius: 5px;
}
